In [34]:
DROP TABLE IF EXISTS Account;
DROP TABLE IF EXISTS OTP;
CREATE TABLE Account (
                         user_id INT PRIMARY KEY,
                         username VARCHAR(50) NOT NULL,
                         user_password VARCHAR(50) NOT NULL,
                         user_email VARCHAR(50) NOT NULL UNIQUE,
                         created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE OTP (
                     user_id INT PRIMARY KEY,
                     otp VARCHAR(50) NOT NULL,
                     created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                     FOREIGN KEY(user_id) REFERENCES Account(user_id)
);

: 3730 (HY000): Cannot drop table 'account' referenced by a foreign key constraint 'otp_ibfk_1' on table 'otp'.

In [18]:
drop table if exists store_hours;
drop table if exists restaurant;
drop table if exists Article;
drop table if exists category;
drop table if exists restaurant_category;
CREATE TABLE restaurant (
    restaurant_id int PRIMARY KEY ,  -- Uses UUID as a primary key
    restaurant_name VARCHAR(100),
    restaurant_address VARCHAR(100),
    restaurant_picture VARCHAR(100),
    open_time TIME,
    close_time TIME
);
CREATE TABLE  Article(
    article_id int PRIMARY KEY,
    title VARCHAR(100),
    content TEXT,
    image VARCHAR(100)
);
CREATE TABLE category(
    category_id int PRIMARY KEY,
    name VARCHAR(100),
    image VARCHAR(100)
);
CREATE TABLE restaurant_category(
    restaurant_id int,
    category_id int,
    PRIMARY KEY(category_id),
    FOREIGN KEY(restaurant_id) REFERENCES restaurant(restaurant_id),
    FOREIGN KEY(category_id) REFERENCES category(category_id)
);

In [22]:
INSERT INTO restaurant (restaurant_id, restaurant_name, restaurant_address, restaurant_picture, open_time, close_time)
VALUES (1, 'The Great Restaurant', '123 Main St', 'great_restaurant.png', '09:00:00', '22:00:00');

: 1062 (23000): Duplicate entry '1' for key 'restaurant.PRIMARY'

In [27]:
SELECT restaurant_name,restaurant_address,restaurant_picture, TIME_FORMAT(open_time, '%H:%i')
As open_time , TIME_FORMAT(close_time, '%H:%i') 
AS open_time 
FROM restaurant;

restaurant_name,restaurant_address,restaurant_picture,open_time,open_time
The Great Restaurant,123 Main St,great_restaurant.png,09:00,22:00